

.grid {
    display: grid;
}

#main-container {
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar content-container";    

}

#sidebar-container {
    grid-area: sidebar;
    background-color: var(--accent-color);
    color: var(--navigation-text-color)
}

#header-container {
    grid-area: header;
    background-color: var(--main-color);
    box-shadow: 0px 5px 5px var(--shadow-color);
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "search user"
    "user-greeting user-buttons";
}

#search{
    grid-area: search;
}

#user {
    grid-area: user;
    grid-template-columns: 1fr 1fr 1fr;
}

#user-greeting {
    grid-area: user-greeting;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
    "user-greeting-image user-greeting-greeting"
    "user-greeting-image user-greeting-name";
}

#user-greeting-image {
    grid-area: user-greeting-image;
}

#user-greeting-greeting {
    grid-area: user-greeting-greeting;
}

#user-greeting-name {
    grid-area: user-greeting-name;
}

#user-buttons {
    grid-area: user-buttons;
}

button { 
    background-color: var(--accent-color);
    border: none;
    border-radius: 10px;
    padding: 12px;
    color: var(--navigation-text-color);
} 



#content-container {
    grid-area: content-container;
    background-color: var(--background-color);
    grid-template-columns: 3fr 1fr;
    z-index: -1;
}

#content-left-side {
    grid-template-rows: 50px 1fr;
}

#card-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    
}

.card {
    background-color: var(--main-color);
    height: 150px;
    width: 200px;
    box-shadow: 5px 5px 5px var(--shadow-color);
    border-radius: 10px;
    border-left: solid 5px var(--edge-color);
    margin: 15px;
}

#content-right-side {
    grid-template-rows: 50px 1fr 50px 1fr;
}

.side-card {
    background-color: var(--main-color);
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--shadow-color);
    margin-right: 20px;
}


:root {
    --main-color: white;
    --accent-color: #0284c7; /* sky 600 */
    --background-color: #cbd5e1; /* slate 300 */
    --shadow-color: #64748b; /* slate 500 */
    --navigation-text-color: white;
    --edge-color: #fbbf24; /* amber 400 */
}

svg {
    width: 16px;
    fill: var(--main-color);
    padding-right: 10px;
}

li {
    list-style: none;
}

/*
li {
    list-style-image: url(./communities.svg);
    fill: var(--main-color);
    height: 16px;
}

ul::marker {
    fill: var(--main-color);
}